<h1>Books#index</h1>
<h1>Books</h1>
<div id="container">
	<div id="addbox" style="margin-left:8em; margin-right:10em; background-color:grey;">
		<h3 style="text-align:center; ">Add a book </h3>
		<%= form_tag("/book/add", :method=>"post") do %>
			Access No:<%= text_field_tag(:b_no) %><br>
			Title: <%= text_field_tag(:b_title) %><br>
			Author: <%= text_field_tag(:b_author) %><br>
			<center><br><%= submit_tag("Add Book") %></center>
		<% end %> 
</div>
